.home{
    position: relative;
    overflow: hidden;
}

.home_container{
    /* https://codepen.io/kirasiris/pen/oJoRNj?editors=1100 */
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%) , url(https://images.pexels.com/photos/34676/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    /* background: linear-gradient(to bottom, rgba(0,57,166,0.7) 0%,rgba(0,57,166,0.7) 100%) , url("../images/meeting-men-and-women.jpg"); */
    /* background: linear-gradient(to bottom, rgba(0,57,166,0.7) 0%,rgba(0,57,166,0.7) 100%) , url("../images/phynix-logo-removebg-preview_adobespark.png");    */
    /* background:url("../images/phynix-logo-removebg-preview_adobespark.png");    */
    /* background:url("../images/opacity-adjustment.png");    */
    /* background:url("../images/opacity-35.png");    */
    /* background:url("../images/meeting-diverse.png");    */


    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; This property seems to be a problem for mobile devices, particularly in landscape mode. The front-end code here is taken from shaynhacker.com which is then taken from bedimcode on YouTube and the code on shaynhacker.com works fine in landscape on mobile so I was wondering why it wasn't working for this site and when I removed the height property I no longer had the text inside the home__text div going beyond the screen border where only a part of it could be seen  */
    padding:0 3rem; 
    gap: 150px;    
    /* https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms/ */
    /* https://codepen.io/jeremyfrank/pen/zvdXZM?editors=1100 */
    /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%,rgba(0,57,166) 100%),url("../images/meeting.jpg"); */
    /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%,rgba(0,57,166) 100%),url("../images/meeting.jpg"); */
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%) , url("../images/meeting.jpg"); */
    /* https://wpsites.net/genesis-tutorials/css-code-to-add-image-which-covers-half-of-page-background/ */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      /*** WHITE OPACITY ***/
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%,rgba(0,57,166) 100%),url(https://images.pexels.com/photos/34676/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%,rgba(0,57,166) 100%),url("../images/meeting.jpg"); */
    background-repeat: no-repeat;
    background-size: 50% 100%;


}

/* This div/class was added so that we could have a background color along side a background image since getting both with the same div/css all at once proved to be a challenge */
.bgcolor{    
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;  */
    /* height: 100vh; */
    /* gap: 150px;   */

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient */
    /* https://stackoverflow.com/questions/56324184/how-to-correctly-position-a-radial-gradient-background */
    /* QUESTION - Is it possible to include an image alongside radial-graident at the same time?  */  /* https://stackoverflow.com/questions/65380599/background-image-and-radial-gradient-on-responsive-element */
    background-image: radial-gradient(circle at calc(100% - 300px),#1da1f2,#0039A6 50%);
    /* background-position: 200px, 200px; */

    /* #0039A6 */
    /* background-color:#0039A6; */
    /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%,rgba(0,57,166) 100%); */
    /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%,rgba(0,57,166) 100%); */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    /* https://stackoverflow.com/questions/65380599/background-image-and-radial-gradient-on-responsive-element */
    background-color: rgba(0,57,166);
    background-image:radial-gradient(circle, rgba(0, 0, 0, 0) 25%, rgba(0,57,166) 90%),url("../images/meeting-diverse.png");
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-position: 200px, 200px; */
}

.home_text{
    /* font-size: 1.4rem; */
    font-size:2rem;
    /* color: var(--darkOne); */
    text-transform: capitalize;
    line-height: 1.4;
}

.home_text p{
    /* color: var(--lightOne); */
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
    text-transform: none;
}

.home_illustration{
    /* background: radial-gradient(#1da1f2,#0039A6 70%); */
}

@media (max-width: 1024px) {
    .home_container {
    gap:0;
    }
}

@media (max-width: 912px) {
    .home_container {
      /* flex-direction: column; */
      /* padding-top:65%; */
      clip-path: none;
    }
    .bgcolor{
      background-position-x:center;
      height: 175vh;  
    }
}

@media (max-width: 768px) {

    .bgcolor{
        height: 140vh;
    }



}

@media (min-width: 916px){
    .home_container {
        height: 100vh;
    }
    .l-header{
        background-color: transparent;
    }
}    


/* The purpose of this is to accomodate for when mobile devices are placed in a landscape orientation. Currently, the problem is that
the homee section is pushed all the way to the top border of the screen and affects its intended appearance.   */ 
/* @media (max-width: 916px){

    .l-header{
        background-color: transparent;
    }
}    */

/* https://stackoverflow.com/questions/5735467/how-to-detect-the-device-orientation-using-css-media-queries */
@media screen and (max-width: 916px) and (orientation:landscape) {

    .l-header{
        background-color: transparent;
    }

    .home_container {
        height: 200vh;
        padding: 0 1rem;
    }

    .bgcolor{
        height:205vh;
    }    

}


@media screen and (max-width: 640px) and (orientation:landscape) {



    .home_container {
        height: 125vh;
        padding: 0rem;
    }

    .bgcolor{
        height:125vh;
    }    

    canvas{
        width: 300px;
        height: 300px;
    }

    .home_text{
        font-size: .8rem;
        line-height: unset;
        padding: 15px;
    }

    .btn{
        font-size: 1rem !important;
    }

}







@media screen and (max-width: 470px) {

    /* Taken from style.css which is in turn inspired by bedimcode on YouTube */
    body{
        margin:3rem 0 0 0;
    }

    .home_container {
        flex-direction: column;
    }

    .btn{
        padding: 0.5rem 1rem;
        font-size: 1rem !important;
    }

    /* .l-header{
        padding:unset;
    } */

    .bgcolor{
        /* height: 125vh; */
        /* height: 105vh;   */
        /* height: 96vh; */
        height:100vh;
    }

    .home_container {
      padding: 0 1.5rem;
      text-align: center;
      gap:50px;
    }
    .home_text {
        font-size: 1rem;
        padding-top: 15px;
    }
    canvas{
        width:380px;
        height:380px;
    }
}

@media screen and (max-width: 365px) {

    canvas{
        width:360px;
        height:360px;
    }

}

@media screen and (max-width: 360px) {

    /* .home_container{
        padding-top:65%;
    } */

    .bgcolor {
        /* height: 145vh; */
        height: 125vh;
    }

    /* section{
        height: 130vh;
    } */

    .home{
        height: 130vh;
    }

    .btn{
        padding: 0.5rem 1rem;
        font-size: 1rem !important;
    }

    .home_text{
        padding-top: 20px;
    }

}