.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding:0 3rem; 
    gap: 220px;
    /* https://stackoverflow.com/questions/33091401/background-image-linear-gradient-jagged-edged-result-needs-to-be-smooth-edged */
    /* https://stackoverflow.com/questions/47955102/how-to-create-a-slanted-background-with-css */
    /* https://cssgradient.io/shades-of-blue/ */
    background: linear-gradient(170deg,#0039a6 78%,#fff 25%);/* ibm blue */
    /* position: relative;   
    z-index: 0; */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
    /* background-size: 50% 85%;
    background-repeat: no-repeat;    */

}

/* https://stackoverflow.com/questions/63308864/how-to-set-background-image-to-only-left-half-of-screen */
/* .bg-image {  */
    /* The image used */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
  
    /* Center and scale the image nicely */
    /* background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% 85%;
    flex: 1;
    height: 100%; */

    /* https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  } */

.home_text{
    font-size: 1.4rem;
    /* color: var(--darkOne); */
    text-transform: capitalize;
    line-height: 1.4;
    position: relative;   
    z-index: 0;
}

.home_text p{
    /* color: var(--lightOne); */
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
    text-transform: none;
}

/* .home_illustration{

} */


@media (max-width: 912px) {
    .home_container {
      flex-direction: column;
    }
}

@media screen and (max-width: 470px) {

    .l-header{
        padding:unset;
    }

    .home_container {
      padding: 0 1.5rem;
      text-align: center;
      gap:50px;
    }
    .home_text {
        font-size: 0.9rem;
    }
    canvas{
        width:380px;
        height:380px;
    }
}